.speaker-name{
    color: red;
}
.hire-btn{
    padding: 10px 25px;
    background-color: goldenrod;
    border: none;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
}