.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
}
/* companies details */
.companies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 50px;
}